:root {
    --container-width: 90%
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right,#45434F,#3A3742,#312F38);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 154px;
    width: var(--container-width);
    margin: 0px auto;
}

nav div.top {
    height: 62px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img.logo {
    height: inherit;
}

nav div.top a.top-visit {
    width: 150px;
    height: inherit;
    background-color: yellowgreen;
    text-align: center;
    line-height: 62px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
}

nav div.bottom {
    height: 92px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div.top div.nav-top {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
    color: black;
}

nav div.top div.nav-top a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}

section.hero {
    height: calc(100vh - 154px);
    display: flex;
    justify-content: center;
    align-items: center;
}

section.hero h1 {
    font-size: 80px;
    text-transform: uppercase;
    color: #D01D1D;
}